
<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Feedback</ion-title>
    </ion-navbar>
  </ion-header>
  <!--
  <ion-content>
      <div class="row header">
          <div class="col">Fragebogen</div>
          <div class="col">Status</div>
          <div class="col">Bearbeiten</div>
        </div>
        <div class="row" *ngFor="let item of items">
          <div class="col">{{item.title}}</div>
          <div class="col">{{item.title}}</div>
          <div class="col"><button class="button">Add</button></div>
        </div>
  </ion-content>
-->

<ion-content>
    <h3>Dein Feedback ist uns Wichtig!</h3>

    <ion-list>
      <ion-list-header>
        Feedbackmöglichkeiten
      </ion-list-header>
      
      <button ion-item *ngFor="let item of feedbacks" (click)="openMenu($event, item)"><!--(click)="openFeedbackQuestions($event, item)" disabled={{item.donebool}}>-->
        <h2>{{item.name}}</h2>
        <p [ngClass]='item.done' item-end>{{item.done}}</p>
      </button>
      
    </ion-list>
</ion-content>